.container {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  width: 70%; /* Main gallery takes up 70% of the width */
}

.photo {
  width: calc(33.333% - 16px);
  box-sizing: border-box;
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
}

form {
  margin-bottom: 16px;
}

.author-info {
  width: 30%; /* Author info takes up 30% of the width */
  padding-left: 16px; /* Add some padding to the left */
}

.author-header {
  margin-bottom: 16px;
}

h1 {
  font-size: 2em;
}

p {
  margin: 8px 0;
}

p:hover {
  cursor: pointer;
  text-decoration: underline;
}

input, select {
  margin: 8px;
  padding: 8px;
  font-size: 16px;
}
